<?js var data = obj; 
    var uin = new Date().getTime() + Math.round(Math.random()* 10000)
    var tid = 'tid' + uin
    var bid = 'bid' + uin
    var self = this;
    // console.log('data.tryNowExample:', data.tryNowExample)
    var examples = data.tryNowExample || data.examples || [{}]
?>
<div>
    <?js examples.forEach(function(example){ var code = example.code || example.text?>
        <div>
            <div>
                <div class="try-now-code" id="<?js= tid?>" contenteditable="true"><?js=code.replace(/\n|\r/g, '<br />') ?></div>
            </div>
            <div>
                <button class="try-now-button" id="<?js= bid?>">调用</button>
            </div>
            <script>
                document.querySelector("#<?js= bid?>").addEventListener('click', async function(){
                    var val = document.querySelector("#<?js= tid?>").innerHTML
                                .replace(/<br>|<br\/>|\n|\r/g, ';').replace(/&/g, '&amp;').replace(/</g, '&lt;');
                    eval(val)
                });
            </script>
        </div>
    <?js }) ?>
    
</div>