<?js var data = obj; 
    var uin = new Date().getTime() + Math.round(Math.random()* 10000)
    var tid = 'tid' + uin
    var bid = 'bid' + uin
    var self = this;
    var examples = data.tryNowExample || data.examples || [{}]
?>
<div>
    <?js examples.forEach(function(example){ ?>
        <div>
            <div>
                <div id="<?js= tid?>" contenteditable="true"><?js=example.code.replace(/\n|\r/g, '<br />') ?></div>
            </div>
            <div>
                <button id="<?js= bid?>">调用</button>
            </div>
            <script>
                document.querySelector("#<?js= bid?>").addEventListener('click', async function(){
                    var val = document.querySelector("#<?js= tid?>").innerHTML.replace(/<br>|<br\/>|\n|\r/g, ';')
                    eval(val)
                });
            </script>
        </div>
    <?js }) ?>
    
</div>